@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Rubik', sans-serif;
    min-height: 100vh;
    background: black;
    color: white;
    line-height: 1.7;
    overflow-x: hidden;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ccc;
}

ul {
    list-style-type: none;
}

img {
    width: 100%;
}

h4 {
    color: #00ED82;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.4px;
}

.btn {
    background: white;
    color: black;
    padding: 20px 32px;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.8px;
    cursor: pointer;
    min-width: 270px;
}

.btn-cta {
    margin-top: 5px;
    margin-bottom: 17px;
}

.btn:hover {
    opacity: 0.85;
}

.btn-outline {
    background: none;
    border: 2px solid white;
    color: white;
    padding: 18px 32px;
}

.legal-text {
    font-size: 10px;
    opacity: 0.8;
    color: #ccc
}

.legal-text a {
    color: #bbb;
    text-decoration: underline;
}

/* Header */

.header nav {
    display: flex;
    justify-content: flex-end;
}

.header .login-btn {
    color: white;
    background: none;
    border: none;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 0.7px;
    padding: 28px 40px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

.header .login-btn:hover {
    opacity: 0.8;
}

.header .login-bars {
    display: none;
}

.header {
    background: url('../img/header.jpg') no-repeat center top / cover;
    height: 690px;
    position: relative;
}

.header::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 180px;
    background: linear-gradient( 180deg, rgba(0, 0, 0, 0.76) 15.54%, rgba(0, 0, 0, 0.192) 60.23%, rgba(0, 0, 0, 8e-05) 100%)
}

.header .header-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .logo {
    width: 280px;
}

.header .header-inner h4 {
    margin-top: 68px;
    margin-bottom: 22px;
}

.header .header-text-1 {
    font-weight: 600;
    font-size: 23px;
    margin-top: 12px;
    margin-bottom: 12px;
}

.header .header-text-2 {
    margin-bottom: 20px;
}

@media screen and (max-width: 1100px) {
    .header .login-btn {
        display: none;
    }
    .header .login-bars {
        display: block;
        padding: 28px 40px;
        cursor: pointer;
        position: relative;
        z-index: 2;
    }
    .header .login-bars span {
        height: 2px;
        background: white;
        display: block;
        width: 22px;
        margin-bottom: 4px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        height: 660px;
    }
    .header .header-inner h4 {
        margin-top: 55px;
        margin-bottom: 18px;
    }
    .header .logo {
        width: 140px;
    }
    .header .header-text-1 {
        font-size: 18px;
        text-align: center;
        max-width: 350px;
        margin-top: 5px;
        margin-bottom: 18px;
        line-height: 1.3;
    }
    .header .header-text-2 {
        display: none;
    }
    .btn-cta {
        padding: 16px 34px;
        min-width: 220px;
    }
}

/* Sub Header */

.sub-header {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient( 179.81deg, rgba(4, 4, 4, 0.7) .17%, rgba(4, 4, 4, 0.45) 85.02%, rgba(4, 4, 4, 0.3) 112.52%);
    margin-top: 50px;
    height: 150px;
}

.sub-header-inner {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    width: 100%;
    max-width: 1620px;
}

.sub-header-inner .logos {
    width: 250px;
    margin-top: 5px;
}

.sub-header-inner .logos p {
    display: none;
    font-size: 14px;
    font-weight: 300;
}

.sub-header h4 {
    margin-bottom: 5px;
}

.sub-header .sub-text {
    font-size: 25px;
    font-weight: 400;
}

.sub-header .details {
    color: #bbb;
    text-decoration: underline;
    font-size: 14px;
}

.sub-header .btn {
    margin-bottom: 5px;
}

.sub-header-inner div:last-of-type {
    justify-self: end;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

@media screen and (max-width: 768px) {
    .sub-header {
        height: 230px;
        line-height: 1.3;
    }
    .sub-header-inner {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .sub-header-inner .sub-text, .sub-header-inner .bundle .details {
        display: none;
    }
    .sub-header-inner div:nth-child(1) {
        order: 2;
    }
    .sub-header-inner div:nth-child(2) {
        order: 1;
    }
    .sub-header-inner div:nth-child(3) {
        order: 3;
    }
    .sub-header .bundle {
        margin-top: 8px;
    }
    .sub-header-inner .logos p {
        display: block;
    }
    .sub-header-inner div:last-of-type {
        justify-self: unset;
    }
    .sub-header-inner .logos {
        width: 200px;
        margin: auto;
    }
    .sub-header .details {
        color: #ccc;
    }
    .sub-header .btn-outline {
        padding: 13px 34px;
        min-width: 220px;
        margin-top: 15px;
        margin-bottom: 8px;
    }
}